*.class

.metadata/
RemoteSystemsTempFiles/
.DS_Store/
bin/
copyHeadersForRelease/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

src/native/SalamaBaseApp/SalamaBaseApp.xcodeproj/project.xcworkspace/xcuserdata/beef_in_jp.xcuserdatad/UserInterfaceState.xcuserstate

src/native/SalamaBaseApp/SalamaBaseApp.xcodeproj/project.xcworkspace/xcuserdata/beef_in_jp.xcuserdatad/UserInterfaceState.xcuserstate
